@import "common";

#root{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.wrap{
  @extend #root;
}
.container {
  @extend #root;
}
#intro {
  @extend #root;
  background: url("../images/bg_intro.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
  color: #ffffff;
  & > div{
    @extend #root;
    display: table-cell;
    vertical-align: middle;
  }
}
#about{
  width: 100%;
  height: 700px;
  & > div{
    margin-top: 2%;
    width: 100%;
    height: auto;
  }
  & #my-pic:hover{
    animation: spinMyPic 0.4s linear;
  }
}

#projects{
  width: 100%;
  height: 1250px;
  & .project-item{
    width:480px;
    height:280px;
    margin:1%;
    border-radius:15px;
    background-size:cover;
    background-position:center;
    box-shadow: 5px 5px 5px #C4C4C4;
  }
  & .project-item:hover{
    cursor: pointer;
    animation: hoverProjects 0.5s ease;
  }
}

#contact {
  width: 100%;
  height: 400px;
  & .contact-btn:hover{
    cursor: pointer;
    border: 1.3px solid #36E0C6 !important;
  }
}
.project-detail-name{
  margin-top: 3%;
}
#html-helper{
  width: 100%;
  height: 1000px;
}
#hacker-mon{
  width: 100%;
  height: 800px;
}
#eight-record{
  width: 100%;
  height: 800px;
}
@keyframes spinMyPic {
  0%{
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  50%{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  100%{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}
@keyframes hoverProjects {
  0%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  100%{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}